p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 3;
  }
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #000000;
    background-color: #ffffff;
}

h1 {
    font-size: 4rem;
    padding: 6rem 0 4rem 0;
    text-align: center;
    font-family: 'Kaushan Script';
}

img {
    display: block;
    margin: 0 auto;
}

.text {
    font-style: calibri; 
    margin: 40px 20px 0 40px; 
    font-size: 0.8rem;
    font-style: italic; 
    padding-bottom: 6rem;
}

.aboutname {
    font-family: 'Allura'; 
    padding: 0 0 0 0;
    font-size: 3rem; 
    text-align: right;
}

.anleft {
    text-align: left;
}

.anright {
    text-align: right;
}

img.framed {
    --s: 10px;
    /* control the size */
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
}

.slim {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.floating-button {
    display: inline-block;
    background-color: currentblackColor;
    opacity: 20%;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.up {
    right: 60px;
}

.music {
    opacity: 40%;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    width: 40%;
    display: inline-block;
    bottom: 20px;
    right: 30%;
}

.gallery-pic:hover, .gallery-pic:focus {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    width: auto;
    height: 99%;
  }
  
  /* Add Animation */
  .modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    transition: 0.3s;
  }

  .close.prev {
    top: 50%;
    left: 4%;
  }

  .close.next {
    top: 50%;
    right: 4%;
  }

  .butn {
    display: inline-block;
    background-color: white;
    color: white;
    opacity: 80%;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 30px;
    height: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/* Computer */
@media screen and (min-width: 900px) {
    .nvbar {
        position: fixed;
        background-color: white;
        opacity: 40%;
    }

    img.logo {
        width: 15%;
    }

    .main {
        display: none;
    }

    .nvbarlogo {
        font-size: 1rem!important;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    #date {
        font-family: 'Inspiration'; 
        color: white;
        font-size: 3.5rem;
    }

    img.portrait {
        float: right; width: 400px; padding: 20px;
    }

    img.portleft {
        float: left; width: 400px; padding: 20px;
    }

    .gallery-pic {
        width: 90%;
        border-radius: 5%;
        margin-bottom: 40px;
        cursor: pointer;
        transition: 0.3s;
    }
    
}

/* Mobile */
@media screen and (max-width: 900px) {

    h1 {
        font-size: 3rem;
    }

    #date {
        font-family: 'Inspiration'; 
        color: white;
        font-size: 3rem;
    }

    .nvbar {
        position: fixed;
        background-color: white;
        opacity: 40%;
    }

    div {
        border-right: 0px!important;
    }

    .nvbarlogo {
        font-size: 0.8rem!important;
        padding: 0 0.3rem 0 0.3rem!important;
    }
    img.logo {
        width: 50%;
    }

    img.portleft {
        width: 300px; padding: 10px;
    }

    img.portrait {
        width: 300px; padding: 10px;
    }

    .main2 {
        display: none;
    }
    .anright {
        text-align: center;
    }

    .anleft {
        text-align: center;
    }

    .gif {
        width: 200px;
    }

    .gallery-pic {
        width: 90%;
        border-radius: 5%;
        margin-bottom: 10px;
    }
    
}